global:
  checkNewVersion: false
  sendAnonymousUsage: false

log:
  level: DEBUG

entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
    network: dawarich_public_facing

api:
  dashboard: true
  insecure: false

certificatesResolvers:
  letsencrypt:
    acme:
      # caServer: "https://acme-staging-v02.api.letsencrypt.org/directory"
      email: hello@writeskewlabs.com
      storage: /etc/traefik/acme.json
      dnsChallenge:
        provider: cloudflare
      httpChallenge: null
      tlsChallenge: null


tls:
  options:
    default:
      minVersion: VersionTLS12
      cipherSuites:
        # TLS 1.3 ciphers (not configurable but listed for clarity)
        - TLS_AES_128_GCM_SHA256
        - TLS_AES_256_GCM_SHA384
        - TLS_CHACHA20_POLY1305_SHA256

        # TLS 1.2 strong ciphers
        - TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256
        - TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
        - TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384
        - TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
